integrations/n8n-agent-fetch-persona.json
{
  "name": "AI Persona Agent - Fetch Persona",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        304,
        192
      ],
      "id": "85645a4a-7aed-4141-9e79-0e94c6f2e469",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "site",
              "value": "campaign-forge.local",
              "type": "string",
              "id": "f60b9e7d-2c5f-4633-b6d8-7284886800d7"
            },
            {
              "name": "personaId",
              "value": 209,
              "type": "number",
              "id": "10d610bf-661f-416c-98f1-410b420b9549"
            },
            {
              "name": "userPrompt",
              "value": "Draft a welcome email for new subscribers.",
              "type": "string",
              "id": "55665c8f-fde1-4610-9e13-134583b33d05"
            },
            {
              "id": "e2049412-6b57-4cef-a99b-d2c8714add6f",
              "name": "customer_name",
              "value": "Frank Spank",
              "type": "string"
            },
            {
              "id": "3e1ef5f5-478a-4616-a0bb-010996be92a2",
              "name": "issue_summary",
              "value": "My spankulator broke within the first 5 spanks!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        192
      ],
      "id": "b891c511-e34a-4973-8ad4-1df8c9a8b589",
      "name": "Persona Context"
    },
    {
      "parameters": {
        "url": "=http://{{$json.site}}/wp-json/ai-persona/v1/persona/{{$json.personaId}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        752,
        192
      ],
      "id": "e5c7b237-1e8b-4e14-bbfe-308de0e5e7e1",
      "name": "Fetch Persona",
      "credentials": {
        "httpBasicAuth": {
          "id": "LZlCHBojVZuh04yS",
          "name": "AI Persona Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "systemPrompt",
              "value": "={{ $json.compiled_prompt }}",
              "type": "string",
              "id": "e36fd057-d760-46f8-8805-459f0e75fb74"
            },
            {
              "name": "userPrompt",
              "value": "={{ $(\"Persona Context\").item.json.userPrompt }}",
              "type": "string",
              "id": "0a68feef-c76c-4373-bfaf-99f5d3e3031c"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        192
      ],
      "id": "51e7f5b1-55ce-49e2-8f8b-2445d253e9b1",
      "name": "Compose OpenAI Payload"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "assistantReply",
              "value": "={{ $json.output }}",
              "type": "string",
              "id": "47dcbf76-fae3-42f7-88f0-093f8e5e4e26"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        192
      ],
      "id": "c576872e-a6dc-4c67-b596-cd8fe890ffb6",
      "name": "Agent Response"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1424,
        192
      ],
      "id": "bd1bd2a5-f787-4fed-9ea9-0f08e53eb6a6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "minimax-m2:cloud",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1496,
        416
      ],
      "id": "2fb4097a-55ba-4b97-a405-9094fd35f5fa",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "5M23qvlYX7hFbDiC",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let compiled_prompt = $json.compiled_prompt;\nfor (const v of $json.persona.variables) {\n  compiled_prompt = compiled_prompt.replaceAll(\"{{\" + v.name + \"}}\", $(\"Persona Context\").item.json[v.name]);\n}\n\n$json.compiled_prompt = compiled_prompt;\nreturn $json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        192
      ],
      "id": "88d1afb0-fb42-4c3d-ad5e-b0afa62a5e63",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Persona Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persona Context": {
      "main": [
        [
          {
            "node": "Fetch Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Persona": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose OpenAI Payload": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Compose OpenAI Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1fed3b4d-5e4c-451d-b740-153fb1d8d955",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "440b090a193318a0a8f25cb6969ccde5241b5c3d5721d9b10cac676c21af9d08"
  },
  "id": "CuNbMR9QvMBncM2f",
  "tags": []
}